@model Codex.Models.SharedModels.SharedViewModels.StudentViewModel
@{
    ViewBag.Title = "Student Overview";
}

<h4>Open</h4>
<div class="row">
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            @foreach (var assignment in Model.Assignments.Where(x => x.StartTime < DateTime.Now && DateTime.Now < x.EndTime)) {
                <li class="grey lighten-2">
                    <div class="collapsible-header">
                        <div class="row clear-margin">
                            <div class="col s2 truncate">
                                <span>@assignment.Name</span>
                            </div>
                            <div class="col s2">
                                <a class="waves-effect waves-light btn" href="#">Details</a>
                            </div>
                            <div class="col s2 grey-text">
                                <span>@assignment.TimeRemaining</span>
                            </div>
                            <div class="col s2 grey-text">
                                <span>@assignment.CourseName</span>
                            </div>
                            <div class="col s2 grey-text">
                                <span>@assignment.NumberOfProblems</span>
                            </div>
                            <div class="col s2">
                                @if (assignment.IsDone) {
                                    <span class="green-text">
                                        Done
                                        <i class="material-icons">done</i>
                                    </span>
                                }
                                else {
                                    <span class="red-text">
                                        Unfinished
                                        <i class="material-icons">clear</i>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="collapsible-body">
                        <div class="collapsible-body-container">
                            @if (assignment.AssignmentProblems.Count != 0) {
                                <ul class="collapsible" data-collapsible="accordion">
                                    @foreach (var problem in assignment.AssignmentProblems) {
                                        <li class="grey lighten-1">
                                            <div class="collapsible-header">
                                                <div class="row clear-margin">
                                                    <div class="col s3">
                                                        <span>@problem.Name</span>
                                                    </div>
                                                    <div class="col s1 grey-text">
                                                        <span>@problem.Weight%</span>
                                                    </div>
                                                    <div class="col s2 grey-text">
                                                        <span>Submissions: @problem.Submissions.Count</span>
                                                    </div>
                                                    <!-- todo: submit solution -->
                                                    <div class="col s3">
                                                        <form action="#" method="post">
                                                            <label for="fileChooser" class="custom-file-upload">
                                                                <span class="waves-effect blue-text waves-light btn-flat tooltipped" data-position="top" data-delay="30" data-tooltip="Choose files...">
                                                                    <i class="material-icons">insert_drive_file</i>
                                                                </span>
                                                            </label>
                                                            <input id="fileChooser" type="file"/>
                                                            <button class="btn-flat waves-effect waves-teal white testButton teal-text" type="submit" name="action">
                                                                <span>Submit</span>
                                                                <i class="material-icons right">send</i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <div class="col s3">
                                                        @if (problem.IsAccepted) {
                                                            <a href="#" class="green-text problemStatus">
                                                                Accepted
                                                                <span class="material-icons">done</span>
                                                            </a>
                                                        }
                                                        else {
                                                            <span class="red-text">
                                                                @problem.BestSubmission.FailedTests
                                                                tests failed
                                                                <i class="material-icons">clear</i>
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="collapsible-body">
                                                <div class="collapsible-body-container">
                                                    @if (problem.Submissions.Count != 0) {
                                                        <ul class="collection">
                                                            @foreach (var submission in problem.Submissions) {
                                                                <li class="collection-item row">
                                                                    <div class="col s4">
                                                                        <span>@submission.OriginalFilename</span>
                                                                    </div>
                                                                    <div class="col s3 grey-text">
                                                                        <span>@submission.SubmissionTime.ToString()</span>
                                                                    </div>
                                                                    <div class="col s2">
                                                                        <a class="waves-effect waves-light btn" href="#">Download</a>
                                                                    </div>
                                                                    <div class="col s3">
                                                                        @if (submission.FailedTests.HasValue) {
                                                                            if (submission.FailedTests.Value == 0) {
                                                                                <span class="green-text">
                                                                                        Accepted
                                                                                        <i class="material-icons">done</i>
                                                                                    </span>
                                                                            }
                                                                            else {
                                                                                <span class="red-text">
                                                                                        @submission.FailedTests.Value
                                                                                        tests failed
                                                                                        <i class="material-icons">clear</i>
                                                                                    </span>
                                                                            }
                                                                        }
                                                                        else {
                                                                            <span class="red-text">
                                                                                    Compile error
                                                                                    <i class="material-icons">clear</i>
                                                                                </span>
                                                                        }
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                    else {
                                                        <span>No submissions</span>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                            else {
                                <span>This assignment has no problems.</span>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<h4>Closed</h4>
<div class="row">
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            @foreach (var assignment in Model.Assignments.Where(x => x.EndTime < DateTime.Now)) {
                <li class="grey lighten-2">
                    <div class="collapsible-header">
                        <div class="row clear-margin">
                            <div class="col s3 truncate">
                                <span>@assignment.Name</span>
                            </div>
                            <div class="col s2">
                                <a class="waves-effect waves-light btn" href="#!">Details</a>
                            </div>
                            <div class="col s2">
                                <span>Closed</span>
                            </div>
                            <div class="col s2">
                                <span>@assignment.CourseName</span>
                            </div>
                            <div class="col s2">
                                <span>@assignment.NumberOfProblems</span>
                            </div>
                            <div class="col s1">
                                @if (assignment.IsDone) {
                                    <span class="green-text">
                                        Done
                                    </span>
                                }
                                else {
                                    <span class="red-text">
                                        Unfinished
                                    </span>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="collapsible-body">
                        <div class="card-panel collapsible-body-container">
                            @if (assignment.AssignmentProblems.Count > 0) {
                                <ul class="collapsible popout" data-collapsible="accordion">
                                    @foreach (var problem in assignment.AssignmentProblems) {
                                        <li class="collapsible-level1">
                                            <div class="row clear-margin">
                                                <div class="col s3 truncate">
                                                    <label for="@problem.Name">
                                                        <span class="transparent-text">.</span>
                                                    </label>
                                                    <span>@problem.Filetype</span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            }
                            else {
                                <div>This assignment has no problems.</div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>