@model Codex.Models.AdminModels.AdminViewModels.CourseViewModel
@{
    ViewBag.Title = "Admin - Courses";
    ViewBag.UserName = "Admin Man";
}

<div class="row">
    <div class="col s6 l3 offset-l3">
        @Html.ActionLink("Users", "Users", "Admin", null, new {@class = "waves-effect waves-light btn fill-width center-align"})
    </div>
    <div class="col s6 l3">
        @Html.ActionLink("Courses", "Courses", "Admin", null, new {@class = "waves-effect waves-light btn-flat fill-width center-align"})
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            @foreach (var course in Model.Courses) {
                <li class="grey lighten-2">
                    <div class="collapsible-header">
                        <div class="row clear-margin">
                            <!-- Course name and checkbox -->
                            <div class="col s3 truncate">
                                <input type="checkbox" id="@course.Id" value="@course.Id" name="course-row"/>
                                <label for="@course.Id">
                                    <span class="transparent-text">.</span>
                                </label>
                                <span>@course.Name</span>
                            </div>

                            <!-- Course year -->
                            <div class="col s3 truncate">
                                <span>@course.Year</span>
                            </div>

                            <!-- Course semester -->
                            <div class="col s3 truncate">
                                <span>@course.Semester</span>
                            </div>
                        </div>
                    </div>

                    <!-- Collapsible body -->
                    <div class="collapsible-body">
                        <div class="card-panel collapsible-body-container">
                            @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new {id = course.Id + "-form", role = "form"})) {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                                <div class="row">
                                    <!-- Name -->
                                    <div class="input-field col s12 m4">
                                        <i class="material-icons prefix">title</i>
                                        @Html.TextBoxFor(m => m.NewCourseModel.Name, new {id = course.Id + "-name", @class = "validate", Value = course.Name, @Name = course.Id + ".Name"})
                                        @Html.ValidationMessageFor(m => m.NewCourseModel.Name, "", new {@class = "text-danger"})
                                        @Html.LabelFor(m => m.NewCourseModel.Name, new {@for = course.Id + "-name"})
                                    </div>

                                    <!-- Semester & Year -->
                                    <div class="col s12 m8">
                                        <div class="row">
                                            <div class="col s12 m6">
                                                <div class="input-field">
                                                    <span>Semester</span>

                                                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 1, new {@id = course.Id + "-semester-fall", @checked = (course.SemesterId == 1 ? true : false), Name = course.Id + ".Semester" })
                                                    @Html.Label(course.Id + "-semester-fall", "Fall")

                                                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 2, new {@id = course.Id + "-semester-spring", @checked = (course.SemesterId == 2 ? true : false), Name = course.Id + ".Semester" })
                                                    @Html.Label(course.Id + "-semester-spring", "Spring")

                                                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 3, new {@id = course.Id + "-semester-summer", @checked = (course.SemesterId == 3 ? true : false), Name = course.Id + ".Semester" })
                                                    @Html.Label(course.Id + "-semester-summer", "Summer")
                                                </div>
                                            </div>

                                            <div class="col s12 m2">
                                                <div class="input-field">
                                                    @Html.TextBoxFor(m => m.NewCourseModel.Year, new { id = course.Id + "-Year", Value = course.Year, @type = "number", min = 2000, Name = course.Id + ".Year" })
                                                    @Html.LabelFor(m => m.NewCourseModel.Year, new { @for = course.Id + "-Year" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Description -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">description</i>
                                        @Html.TextAreaFor(m => m.NewCourseModel.Description, new { @class = "validate materialize-textarea" })
                                        @Html.ValidationMessageFor(m => m.NewCourseModel.Description, "", new { @class = "text-danger" })
                                        @Html.LabelFor(m => m.NewCourseModel.Description)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="modal-trigger btn-floating blue tooltipped" href="#new-course-modal" data-position="left" data-delay="50" data-tooltip="New course">
                <i class="material-icons">book</i>
            </a>
        </li>
    </ul>
</div>

<div id="new-course-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="center-align">New Course</h4>
        <div class="divider"></div>

        @using (Html.BeginForm("CreateCourse", "Admin", FormMethod.Post, new {@id = "create-course-form", role = "form"})) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">title</i>
                    @Html.TextBoxFor(m => m.NewCourseModel.Name, new {@class = "validate"})
                    @Html.ValidationMessageFor(m => m.NewCourseModel.Name, "", new {@class = "text-danger"})
                    @Html.LabelFor(m => m.NewCourseModel.Name)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    @Html.TextAreaFor(m => m.NewCourseModel.Description, new {@class = "validate materialize-textarea"})
                    @Html.ValidationMessageFor(m => m.NewCourseModel.Description, "", new {@class = "text-danger"})
                    @Html.LabelFor(m => m.NewCourseModel.Description)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <span>Semester</span>
                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 1, new {@id = "semester-fall", @checked = true})
                    @Html.Label("semester-fall", "Fall")

                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 2, new {@id = "semester-spring"})
                    @Html.Label("semester-spring", "Spring")

                    @Html.RadioButtonFor(m => m.NewCourseModel.Semester, 3, new {@id = "semester-summer"})
                    @Html.Label("semester-summer", "Summer")
                </div>

                <div class="input-field col s6">
                    @Html.TextBoxFor(m => m.NewCourseModel.Year, new {Value = DateTime.Now.Year, @type = "number", min = 2000})
                    @Html.LabelFor(m => m.NewCourseModel.Year)
                </div>
            </div>
        }

    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#" id="create-course-button" class="waves-effect waves-green btn-flat">Create</a>
    </div>
</div>