@model Codex.Models.AdminModels.AdminViewModels.UserViewModel
@{
    ViewBag.Title = "Admin - Users";
    ViewBag.UserName = "Admin Man";
}

<div class="row">
    <div class="col s6 l3 offset-l3">
        @Html.ActionLink("Users", "Users", "Admin", null, new {@class = "teal lighten-3 waves-effect waves-light btn fill-width center-align" })
    </div>
    <div class="col s6 l3">
        @Html.ActionLink("Courses", "Courses", "Admin", null, new {@class = "teal waves-effect waves-light btn fill-width center-align" })
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="collapsible popout" data-collapsible="accordion">
            @foreach (var user in Model.Users) {
                <li class="grey lighten-2">
                    <div class="collapsible-header" data-test="@user.UserInfo.Email">
                        <div class="row clear-margin">
                            <div class="col s5 l3 truncate">
                                <input type="checkbox" id="@user.UserInfo.Id" value="@user.UserInfo.Id" name="user-row"/>
                                <label for="@user.UserInfo.Id">
                                    <span class="transparent-text">.</span>
                                </label>
                                <span class="search-criteria">@user.UserInfo.FullName</span>
                            </div>

                            <div class="col s5 l3 truncate">
                                <span class="grey-text search-criteria">@user.UserInfo.Email</span>
                            </div>

                            <!-- Vertical ellipsis dropdown menu -->
                            <div class="right">
                                <a href="#" class="dropdown-button stop-propagation" data-constrainwidth="false" data-alignment="right" data-activates="@user.UserInfo.Id-dropdown">
                                    <i class="material-icons">more_vert</i>
                                </a>
                            </div>

                        </div>
                    </div>

                    <!-- Collapsible body -->
                    <div class="collapsible-body">
                        <div class="card-panel collapsible-body-container">
                            @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new {id = user.UserInfo.Id + "-form", role = "form"})) {
                                @Html.AntiForgeryToken()

                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                                @Html.HiddenFor(m => user.UserInfo.Id, new { id = "id-" + user.UserInfo.Id, @class = "validate user-id", Name = "Id." + user.UserInfo.Id })

                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <i class="material-icons prefix">account_circle</i>
                                        @Html.TextBoxFor(m => m.NewUserModel.Name, new {id = user.UserInfo.Id + "-name", @class = "validate", Value = user.UserInfo.FullName, @Name = user.UserInfo.Id + ".Name"})
                                        @Html.ValidationMessageFor(m => m.NewUserModel.Name, "", new {@class = "text-danger"})
                                        @Html.LabelFor(m => m.NewUserModel.Name, new {@for = user.UserInfo.Id + "-name"})
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <i class="material-icons prefix">email</i>
                                        @Html.TextBoxFor(m => m.NewUserModel.Email, new {id = user.UserInfo.Id + "-email", @class = "validate", Value = user.UserInfo.Email, @Name = user.UserInfo.Id + ".Email"})
                                        @Html.ValidationMessageFor(m => m.NewUserModel.Email, "", new {@class = "text-danger"})
                                        @Html.LabelFor(m => m.NewUserModel.Email, new {@for = user.UserInfo.Id + "-email"})
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12 m5 offset-m7 l3 offset-l9">
                                        <a href="#" class="waves-effect waves-green btn update-user-button fill-width">
                                            Update
                                        </a>
                                    </div>
                                </div>
                                

                                <div class="divider"></div>

                                <!-- Add Courses -->
                                <div class="row section">
                                    <div class="col s12">
                                        <div class="row">
                                            <div class="col s12 l5 input-field">
                                                @Html.DropDownList(user.UserInfo.Id + "-add-course", Model.AvailableCourses)
                                                <label>Courses</label>
                                            </div>

                                            <div class="col s12 m8 l5 input-field">
                                                <input name="@user.UserInfo.Id-add-course-position" type="radio" id="@user.UserInfo.Id-add-course-position-student" checked value="1"/>
                                                <label for="@user.UserInfo.Id-add-course-position-student">Student</label>

                                                <input name="@user.UserInfo.Id-add-course-position" type="radio" id="@user.UserInfo.Id-add-course-position-teacher" value="2"/>
                                                <label for="@user.UserInfo.Id-add-course-position-teacher">Teacher</label>

                                                <input name="@user.UserInfo.Id-add-course-position" type="radio" id="@user.UserInfo.Id-add-course-position-assistant" value="3"/>
                                                <label for="@user.UserInfo.Id-add-course-position-assistant">Assistant</label>
                                            </div>

                                            <div class="col s12 m4 l2 input-field">
                                                <a href="#" class="waves-effect waves-light btn fill-width add-course-button">Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- User Courses -->
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped centered bordered responsive-table">
                                            <thead>
                                                <tr>
                                                    <th data-field="id" class="hiddendiv">Id</th>
                                                    <th data-field="course">Course</th>
                                                    <th data-field="year">Year</th>
                                                    <th data-field="semester">Semester</th>
                                                    <th data-field="position">Position</th>
                                                    <th data-field="remove">Remove</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @foreach (var course in user.UserCourses)
                                                {
                                                    <tr>
                                                        <td class="hiddendiv">@course.CourseInstanceId</td>
                                                        <td>@course.Name</td>
                                                        <td>@course.Year</td>
                                                        <td>@switch (course.Semester) {
                                                                case 1:
                                                                    @:Fall
                                                                    break;

                                                                case 2:
                                                                    @:Spring
                                                                    break;

                                                                case 3:
                                                                    @:Summer
                                                                    break;
                                                            }
                                                        </td>
                                                        <td>
                                                            @switch (course.Position) {
                                                                case 1:
                                                                    @:Student
                                                                    break;

                                                                case 2:
                                                                    @:Teacher
                                                                    break;

                                                                case 3:
                                                                    @:Assistant
                                                                    break;
                                                            }
                                                        </td>
                                                        <td>
                                                            <a href="#" class="remove-from-course">
                                                                <i class="material-icons red-text">clear</i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Dropdown content -->
                    <ul id="@user.UserInfo.Id-dropdown" class='dropdown-content stop-propagation'>
                        <li>
                            <a class="waves-effect waves-light reset-password-button" href="#">
                                Reset Password
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

<!-- Pencil menu -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a id="delete-selected-users-modal-button" class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Delete selected users">
                <i class="material-icons">delete</i>
            </a>
        </li>
        <li>
            <a class="modal-trigger btn-floating green tooltipped" href="#new-user-modal" data-position="left" data-delay="50" data-tooltip="New user">
                <i class="material-icons">person_add</i>
            </a>
        </li>
    </ul>
</div>

<div id="new-user-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="center-align">New User</h4>
        <div class="divider"></div>

        @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new {@id = "create-user-form", role = "form"})) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(m => m.NewUserModel.Name, new {@class = "validate"})
                    @Html.ValidationMessageFor(m => m.NewUserModel.Name, "", new {@class = "text-danger"})
                    @Html.LabelFor(m => m.NewUserModel.Name)
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(m => m.NewUserModel.Email, new {@class = "validate", type = "email"})
                    @Html.ValidationMessageFor(m => m.NewUserModel.Email, "", new {@class = "text-danger"})
                    @Html.LabelFor(m => m.NewUserModel.Email)
                </div>
            </div>

            <p>Default username and password is the email</p>

            <div class="row">
                <div class="col s12">
                    @Html.CheckBoxFor(m => m.NewUserModel.Admin, new {@class = "validate"})
                    @Html.LabelFor(m => m.NewUserModel.Admin)
                </div>
            </div>
        }

    </div>
    <div class="modal-footer">
        <a href="#" id="create-user-button" class="waves-effect waves-green btn-flat">Create</a>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>

<!-- Delete Selected Users modal -->
<div id="delete-selected-users-modal" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Delete seleced users</h4>
        <div class="divider"></div>

        <p>Are you sure you want to delete these users?</p>
        <p>This action cannot be undone!</p>

    </div>
    <div class="modal-footer">
        <a href="#" id="delete-selected-users-button" class="waves-effect waves-green btn-flat">Delete</a>
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>