<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>@ViewBag.Title</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navbar -->
    <nav class="blue">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3 l2 center-align">
                    <a href="#" class="button-collapse hide-on-large-only" data-activates="slide-out">
                        <i class="material-icons">menu</i>
                    </a>
                    <h1>
                        @if (User.IsInRole("Admin")) {
                            @Html.ActionLink("Codex", "Users", "Admin", null, new { @class = "logo" })
                        }
                        else if (User.IsInRole("Teacher")) {
                            @Html.ActionLink("Codex", "Index", "Teacher", null, new {@class = "logo"})
                        }
                        else {
                            @Html.ActionLink("Codex", "Index", "Student", null, new { @class = "logo" })
                        }

                    </h1>
                </div>

                <div id="search-col" class="col s9 l8">
                    <form class="blue lighten-2">
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search">
                                <i class="material-icons">search</i>
                            </label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>

                <div class="col l2 hide-on-med-and-down">
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        <li>
                            <a href="#" class="valign-wrapper dropdown-button" data-activates="avatar-dropdown" data-beloworigin="true">
                                <i class="material-icons">account_circle</i>
                                <span class="truncate">@ViewBag.UserName</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Sidenav -->
            <ul id="slide-out" class="side-nav hide-on-large-only">
                @if (User.IsInRole("Teacher"))
                {
                    <li>
                        <a href="/Teacher/Index">
                            <i class="material-icons">school</i>
                            <span>Teacher index</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Student/Index">
                            <i class="material-icons">person</i>
                            <span>Student index</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                }
                <li>
                    <a href="@Url.Action("Settings", "Account")">
                        <i class="material-icons">settings</i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="material-icons">power_settings_new</i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>

            <!-- Dropdown Structure -->
            <ul id="avatar-dropdown" class="dropdown-content">
                @if (User.IsInRole("Teacher"))
                {
                    <li>
                        <a href="/Teacher/Index">
                            <i class="material-icons">school</i>
                            <span>Teacher index</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Student/Index">
                            <i class="material-icons">person</i>
                            <span>Student index</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                }
                <li>
                    <a href="@Url.Action("Settings", "Account")">
                        <i class="material-icons">settings</i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="material-icons">power_settings_new</i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>

        </div>

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hiddendiv" })) {
            @Html.AntiForgeryToken()
        }
    </nav>

    <!-- Main -->
    <main class="container">
        <div class="section">
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")

    @if (ViewContext.RouteData.Values["controller"].ToString() == "Admin") {
        @Scripts.Render("~/bundles/admin")
    }
    else if (ViewContext.RouteData.Values["controller"].ToString() == "Teacher") {
        @Scripts.Render("~/bundles/teacher")
    }
    else if (ViewContext.RouteData.Values["controller"].ToString() == "Student") {
        @Scripts.Render("~/bundles/student")
    }
    else {
        @Scripts.Render("~/bundles/codex")
    }

    @RenderSection("scripts", required: false)
</body>
</html>